body{
  margin: 0;
  padding: 0;
  background-color: #0066CC;
  opacity: 1;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}
div{
  color: #FFFFFF;
}
/*個別スレッドリンク共通*/
.thread-link{
  color: black;
  text-decoration: none;
}

/*ヘッダー*/

header{
  width: 100%;
  height: 40px;
  background-color: cornflowerblue;
  overflow: hidden;
}
#head-menu{
  margin: 0;
  padding: 0;
  float: right;
}
.menu{
  margin: 0;
  float: left;
}
.logo{
  font-size: 25px;
  color: #FFFFFF;
font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}
header a{
  display: block;
  text-decoration: none;
  float: left;
}
.head-nav{
  width: 100%;
}
li{
  list-style: none;
}
.link{
  border-style: none solid;
  border-color: #FFFFFF;
  color: #FFFFFF;
  float: left;
  box-sizing: border-box;
  margin: 0 60px;
  display: block;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

/*サイドバー*/
#side-bar{
  margin: 83px 30px 50px 0;
  width: 240px;
  float: right;
  background-color: #C0C0C0;
}

.selectbox{
  width: 20%;
}

.choice{
  margin:30px auto;
  width: 60%;
  height: 40px;
  background-color: #FFFFFF;
  font-size: 15px;
}


.category{
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryChoice{
  float: right;
  width: 100%;
  margin: 0;
  background-color: #C0C0C0;
}

select{
  display: block;
}

/*掲示板一覧表示*/
.thread-title a{
  color: black;
  text-decoration: none;
}

img{
  display: block;
}

/*個別掲示板*/
.bord{
  width: 900px;
  position: relative;
  top: 10px;
  left: 100px;
  margin-top: 25px;
  background-color: #EEEEEE;
}

.back{
  margin-top: 40px;
}
.back a{
  color: #FFFFFF;
}

.space{
  width: 1140px;
  height: 48px;
}

.category-link{
  color:#0066FF;
}

.thread-title{
  display: inline-block;
}

.entry-top{
  width: 80%;
}

.bord-category{

}

.msg{
  word-wrap: break-word;
  padding:50px 100px;
  color: black;
}
.time,.create-time{
  color: black;
}

.name{
  color: blue;
  font-size: 20px;
}

.fav-icon{

  color: #ddd;
}
.fav-icon:hover{
  cursor: pointer;
}

.fav-icon.active{
  color: #FFFF00;
}

/*スレ立て*/
.post-form{
  width:70%;
  margin: 0 auto;
  padding: 20px;
  background-color:#C0C0C0;
}

textarea{
  margin: 0 auto;
  display: block;
}

.build-new-thread-logo{
  text-align: center;
  color: black;
}


#build-new-thread-logo-choice{
  margin:30px auto;
  width: 500px;
  height: 40px;
  background-color: #FFFFFF;
  font-size: 15px;
}

.upload_pic_form{
  text-align: center;
  color: black;
}

/*掲示板画像*/
.pic{
  text-align: center;
}

/*投稿フォーム共通*/

.post-top{
  color: black;
}

.post{
  text-align: center;
}


.post-head{
  text-decoration: none #333333;
  margin: 0;
}

/*ページネーション*/
.pagenation-list{
  position: relative;
  display: flex;
  list-style: none;
  margin-left: 55px;
}

li{
  margin: 5px;
}

li.list-item{
  background-color: white;
}

li.list-item a{
  color: black;
  text-decoration: none;
  display: block;
  padding: 4px 10px;

}

li.active{
  background-color: black;
}

li.active a{
  text-decoration: none;
  color: white;
}


/*インプットフォーム共通*/

input[type = "text"]{
  margin: 10px auto;
  display: block;
  padding: 10px;
  border-style: none;
  color: black;
  background-color: #FFFFFF;
  width: 500px;
  height: 40px;
  font-size: 20px;
}

input[type = "password"]{
  margin: 10px auto;
  display: block;
  padding: 10px;
  border-style: none;
  color: black;
  background-color: #FFFFFF;
  width: 500px;
  height: 40px;
  font-size: 20px;
}


input[type = "password"]{
  color: black;
}

input[type = 'checkbox']{
  width: 18px;
  height: 18px;
  vertical-align: baseline;
  cursor: pointer;
}

/*送信ボタン共通*/
input[type = "submit"]{
  border-radius: 4px;
  background-color: black;
  color: white;
  margin: 20px auto;
  height: 40px;
  width: 70px;
  text-align: center;
  padding: 0;
  display: block;
  font-size: 15px;
  cursor: pointer;
}


/*ログイン*/
#login_form{
  color: black;
  border-radius: 4px;
  margin: 50px auto;
  height: 350px;
  width: 700px;
  background: #C0C0C0;
  max-height: 1000px;
  padding: 10px;
}

#login_logo{
  text-align: center;
  margin: 10px 0;
}

.login{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0;
}

#login{
  margin: 0 auto;
}

label{
  display: block;
  text-align: center;
  margin: 0 auto;
}
/*サインアップ*/
#signup_logo{
  text-align: center;
  margin: 10px 0;
  color: black;
}

#signup_form{
  margin: 50px auto;
  height: 600px;
  width: 700px;
  background: #C0C0C0;
  color: black;
}
/*入力フォームのエラーメッセージ表示*/
.err_msg_display{
  height: 15px;
  color: red;
}
/*エラー発生時*/
.err{
  background-color: #FF6666;
}

/*退会機能*/
#unsubscribe{
  width: 50%;
  height: 400px;
  margin: 0 auto;
  
}

#unsubscribe-form{
    background-color: red;
    width: 300px;
    margin: 0 auto;
    height: 300px;
   padding: 30px;
  margin: 50px auto;
}

#unsubscribe-form-title{
  text-align: center;
  margin: 80px 0px 80px 0px;
}

/*マイページ*/
.fav-top{
  margin: 0;
}

.fav-entry-top{
  width: 900px;
  margin:35px 50px;
  background-color: #EEEEEE;
}

.thread-title{
  margin: 5px 0;
}

.thread-link{
  font-size: 20px;
  color: #0066FF;
  text-decoration-line: underline;
}

